
<nav>
    <ul>
        <li>
            <a href='/'>home</a>
        </li>
        <li>
            <a href="/favorite-quotes">fav qoutes</a>
        </li>
        <img src="/the_simpsons.png">
    </ul>
</nav>
